<html>
    <body>
        <h1>
            <ul>
                {% for item in data %}
                    <li>{{item.name}} {{item.greeting}}</li>
                {% endfor %}
            </ul>
        </h1>
        <table>
            <th>
                <tr>
                    <td>Name</td>
                    <td>Greeting</td>
                </tr>
            </th>
            <tr>
                <td>Ash</td>
                <td>Hello</td>
            </tr>
        </table>
    </body>
</html>