<html>
    <head>
        <h1>Hello World!</h1>
        <p>Howdy?!</p>
        <table>
            <th>
                <tr>
                <td>SNo</td>
                <td>Name</td>
                </tr>
            </th>
            <tr>
                <td>1</td>
                <td>Ash</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Bash</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Cash</td>
            </tr>
        </table>
    </head>
</html>